@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: rgb(0, 0, 0);
    color: #000;
    font-family: "Poppins", Verdana, sans-serif;
    font-size: 112px;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
        max-width: 100%;
        max-height: 100%;
        margin-top: 300px;

}

h3 {
    font-size: 38px;
    margin: 300;
    margin-top: 300px;
    padding: 500;
    color: #fff;
}

h5 {
    font-size: 18px;
    margin: 300;
    margin-top: 10px;
    padding: 300;
    color: #fff;
}